@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  margin: auto;
  width: 100vw;
  overflow-x: hidden;
  background-color: white;
}

body > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}


:root {
  --color-primary: #1f57dc;
  --color-primary-hover: #0c3cad;
  --color-secondary: #1f57dc;
  --color-secondary-hover: #1f58dc12;
  --max-width: 1024px;
  --font-h1: 39px;
  --font-h2: 31px;
  --font-h3: 25px;
  --font-h4: 20px;
  --font-p: 16px;
  --color-black: #222;
  width: 100vw;
}

h1 {
  font-size: var(--font-h1);
  letter-spacing: -1px;
  font-weight: 500;
  color: var(--color-black);

}

h2 {
  font-size: var(--font-h2);
  letter-spacing: -0.6px;
  font-weight: 500;
  color: var(--color-black);
}

h3 {
  font-size: var(--font-h3);
  letter-spacing: -0.2px;
  font-weight: 400;
  color: var(--color-black);

}

h4 {
  font-size: var(--font-h4);
  font-weight: 400;
  color: var(--color-black);
}

p {
  font-size: 16px;
  font-weight: 400;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
