@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  margin: auto;
  width: 100vw;
  overflow-x: hidden;
}


:root {
  --color-primary: rgb(203 1 199);
  --color-secondary: #A100ED;
  --max-width: 1024px;
  width: 100vw;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
