.page {
    margin: auto;
    flex: 1;
    width: 100%;
}

.projects {
    margin: 80px auto auto auto;
}

.project {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0 4em;
    background-color: rgb(250, 250, 250);
    height: 100vh;
}

.project_content {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.project_images {
    width: 50%;
}

.project_images img {
    width: 100%;
}

.project_content {
    width: 50%;
}

.project_content_title {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project_content_title > h2 {
    font-size: 44px;
    font-weight: 600;
}

.project_content_title > h4 {
    font-size: 22px;
    opacity: .9;
    line-height: 32px;
    font-weight: 300;
}

.project_content_tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tasks_tags {
    list-style: none;
    display: flex;
    gap: 10px;
}

.tasks_tags li {
    border: 1px solid black;
    display: inline-flex;
    width: auto;
    padding: 8px 16px;
    border-radius: 4px;
    color: black;
}

@media only screen and (max-width: 600px) {
    .projects {
    }
    .project {
        flex-direction: column-reverse;
        height: auto;
        gap: 24px;
        padding: 40px 16px;
    }

    .project_content {
        width: 100%;
        align-items: center;
    }

    .project_content_tasks {
        text-align: center;
    }

    .project_images {
        width: 100%;
    }

    .project_content_title > h2 {
        text-align: center;
    }

    .project_content_title > h4 {
        text-align: center;
    }
}