.header {
    background-color: white;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;}

.header_container {
    padding: 1.2em 5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: auto;
}

.logo {
    text-decoration: none;
    color: var(--color-black);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -.8px;
}

.header_menu {
    list-style: none;
    display: flex;
    gap: 56px;
}

.header_menu a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 300;
    font-size: var(--font-p);
}

/* @media only screen and (max-width: 600px) {
    .header_container {
      justify-content: center;
    }
  } */