.header {
    width: 100%;
    position: sticky;
    padding: 12px 0;
    top: 0;
    z-index: 2;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    overflow: hidden;
}

.header_container {
    max-width: 1024px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.header > a {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.header img {
    max-width: 200px;
    max-height: 150px;
    object-fit: cover;
}

.header .logo_title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -1px;
}

.header .logo_subtitle {
    font-weight: 200;
    letter-spacing: 5px;
}

.header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
    list-style: none;
}

.header nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: 300;
}

.header nav ul li a:hover {
    opacity: 90%;
}

@media only screen and (max-width: 600px) {
    .header {
        display: none;
    }
}